
<ol
data-controller="hello"
data-hello-supported-class="hello--display">

<li data-hello-target="item"><%= 'One' %> </li>
<li data-hello-target="item">
<select name="cars" id="cars">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
</li>
<button data-action="hello#toggle" class="hello-button">Press</button>
</ol>
