<div data-controller = 'hello'
     data-hello-primary-class = 'btn-primary'>
  <h1 data-hello-target= 'hide'
          >Heloo</h1>
  <button class= 'btn'
          data-action="hello#toggle" >Button</button>
</div>
